* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
body {
  font-family: Inter, sans-serif, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: #f5f5dc;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #36454f;
  gap: 11px;
  background-color: #F2F7E4;
  border: 1px solid #D3DEBF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    position: sticky; top: 0;
}

.ingredients-title {
  color: #36454f;
}
.logo {
  height: 6rem;
}
.tag-line {
  text-align: center;
  font-size: 1rem;
  margin: ;
}
header > h1 {
  font-weight: 400;
}
main {
  margin: 24px auto;
  width: 90%;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 40px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #d1d5d8;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
}

.input-box {
  min-width: 150px;
  max-width: 300px;
  font-size: 0.8rem;
}
.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #36454f;
  color: #fafaf8;

  font-weight: 500;
}

.add-button {
  width: 90px;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .input-box {
    min-width: 200px;
    max-width: 400px;
    font-size: 0.9rem;
  }
  .add-button {
    width: 120px;
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .input-box {
    min-width: 300px;
    max-width: 600px;
    font-size: 1rem;
  }
  .add-button {
    width: 183px;
    font-size: 1rem;
  }
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}
ul.ingredients-list {
  margin-bottom: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding-left: unset;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 28px;
  list-style: none;
  display: inline;
}

.list-item {
  padding: 0 5px;
  border-radius: 5px;
  background-color: rgba(244, 244, 245);
  margin: 5px;
  color: rgb(24, 24, 27);
  border: 1px rgb(228, 228, 231) solid;
  font-size: 1rem;
  display: flex;
  align-items: end;
}

ul.ingredients-list .remove-btn {
  cursor: pointer;
  border: none;
  background-color: rgba(244, 244, 245);
  padding-bottom: 3px;
}
.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #a7ca90;
  padding: 3px 28px;
  margin: 10px 0;
  margin-bottom: 55px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
  color: #1b1b1b;
}

.get-recipe-container p {
  font-size: 0.875rem;
  line-height: 20px;
  color: #222222;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #c77c40;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #fafaf8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 12px;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  pointer-events: all;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  position: fixed;
  bottom: 0;
  padding: 5px 0;
  background-color: #ced0d8;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: #475467;
}

.link a {
  color: #171719;
  padding: 3px;
}
